<!--

Copyright (C) 2001 Paddy Spencer
All rights reserved.

This file is part of The Grinder software distribution. Refer to
the file LICENSE which is part of The Grinder distribution for
licensing details. The Grinder distribution is available on the
Internet at http://grinder.sourceforge.net/

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
REGENTS OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
OF THE POSSIBILITY OF SUCH DAMAGE.

-->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 1.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

  <servlet>
	<servlet-name>sniff</servlet-name>
	<servlet-class>
	  net.grinder.tools.snifferwebapp.SniffingServlet
	</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>grind</servlet-name>
	<servlet-class>
	  net.grinder.tools.snifferwebapp.GrindingServlet
	</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>sniff</servlet-name>
	<url-pattern>/sniff</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	<servlet-name>grind</servlet-name>
	<url-pattern>/grind</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <env-entry>
	<description>
	  lower (inclusive) bound on available sniffer ports
	</description>
	<env-entry-name>sniffer.port.lower</env-entry-name>
	<env-entry-value>8000</env-entry-value>
	<env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>

  <env-entry>
	<description>
	  upper (exclusive) bound on available sniffer ports
	</description>
	<env-entry-name>sniffer.port.upper</env-entry-name>
	<env-entry-value>8010</env-entry-value>
	<env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>
  
  <env-entry>
	<description>
	  CLASSPATH value for the grinder process(es). Needs to contain
	  the current grinder jarfile and the Jakarta regexp jar. If SSL
	  is used, it needs the JSSE jars as well.
	  This needs to be set relative to the sniffer temporary
	  directory, rather than the directory in which the web server is
	  running (hence the ../ in this example). 
	</description>
	<env-entry-name>grinder.classpath</env-entry-name>
	<env-entry-value>../lib/grinder.jar:../lib/regexp.jar:../lib/jsse.jar:../lib/jcert.jar:../lib/jnet.jar</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  
  <env-entry>
	<description>Time in seconds before the sniffer proxy times
	  out and releases the port</description>
	<env-entry-name>sniffer.timeout</env-entry-name>
	<env-entry-value>600</env-entry-value>
	<env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>
  
  <env-entry>
	<description>
	  P12 certificate used by the SSL sniffer engine
	  This needs to be set relative to the sniffer temporary
	  directory, rather than the directory in which the web server is
	  running (hence the ../ in this example). 
	</description>
	<env-entry-name>grinder.cert.file</env-entry-name>
	<env-entry-value>../exported.p12</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  
  <env-entry>
	<description>Certificate password used by the SSL sniffer
	  engine</description>
	<env-entry-name>grinder.cert.password</env-entry-name>
	<env-entry-value>password</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
</web-app>
